
.swiper-wrapper {
  
    background-color: #212529;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

.swiper-img {
  color: grey;
  transition: transform 0.3s ease-in-out;
}
.swiper-img:hover {
  transform: scale(1.1);
}

.heading {
  color: #96835f;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

img {
  image-rendering: optimizeQuality; /* CSS3 */
  image-rendering: -webkit-optimize-contrast; /* Safari 6, UC Browser 9.9+ */
  image-rendering: -moz-crisp-edges; /* Firefox (non-standard naming) */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: pixelated; /* Chrome 41+ and Opera 26+ */
}
