.About-us-section {
  background-color: #212529;
  margin-top: 30px;
  margin-bottom: 5%;
  padding: 20px;
}

.heading {
  color: #96835f;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

.about-us-content {
  font-size: 22px;

  color: #96835f;
  word-spacing: 4px;
  animation: slide-in 1s ease-in-out;
}

.inner-content {
  margin-top: 40px;
  padding: 0 20px;
  text-align: center;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.inner-content {
  margin-top: 40px;

  gap: 50px;

  animation: slide-in 1s ease-in-out;
}

.highlighted-text{

  font-weight: bold;
  font-size: 28px;
}