.main-container {
  position: relative;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures the logo doesn't overflow the container */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  max-height: 650px;
 
}

.img-responsive {
  filter: brightness(70%);
  width: 100%;
  height: auto;
  object-fit: cover; /* or 'contain' depending on your needs */
}

.centered-logo {
  position: absolute;
  opacity: 0.9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%; /* Adjust the size of the logo */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  filter: brightness(130%);

}
