.about-container{
    margin:0px 0px 15% 0px;
}
.about-container:hover{
    transform:scale(1.05);
}

.img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover; /* or 'contain' depending on your needs */
  }