.cp-container{
    display: block;
    margin:0px 7px 5% 7px;
    height: 120vh;
}
.img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover; /* or 'contain' depending on your needs */
  }