/* style.css */

.contact-us {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #96835f;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.content {
  text-align: left;
  color: #96835f;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
  color: #96835f;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  color: #96835f;
}

.footer-left{
  display: flex;
  align-items:center;
  justify-content: center;
}

.numb{
margin-top: 15px;
}

.footer-right {
  display: flex;
  align-items:center;
  justify-content: center;
}
