.carousel-item {
  height: 100%;
}

.img-responsive {
  width: 90%;
  height: 100%;
  object-fit: cover; /* or 'contain' depending on your needs */
}

@media screen and (max-width: 1024px) {
  .img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .carousel-item {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .carousel-item {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .carousel-item {
    height: auto;
  }
}
