.main-container{
    padding: ;
    margin:3% 0px 4% 0px;
    height: 100%;
}
.img-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or 'contain' depending on your needs */
}


@media screen and (max-width: 1024px) {
    .main-container{
        height: auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .main-container{
        height: auto;
    }
  }
  
  @media screen and (max-width: 480px) {
    .main-container{
        height: auto;
    }
  }
  
